
.cell {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.blue {
    background-color: #0202a2;
}

.green {
    background-color: #027c02;
}

.red {
    background-color: #960101;
}